*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    
}
.container{
    height: 100%;
    width: 100%;

}
.main{
    height: 70vh;
    width: 100%;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.575),rgba(0, 0, 0, 0.603)) ,url(./backgroundimg.png);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom;
}
.text{
    height: 30vh;
    width: 100%;
    background-color: red;
}
.logo{
    width: 40%;
    text-align: center;
    /* border: 2px solid white; */
}
#l{
    background-color: white;

}
#span{
    font-size: 30px;
    color: white;
}
.nav a{
   text-decoration: none; 
   color: white;
}
.nav{
    display: flex;
    gap: 40px;
}
nav{
    display: flex;
    padding-top: 40px;
    height: 80px;
}